Source: openfx-io-natron
Section: video
Priority: optional
Maintainer: Hermann Vosseler <deb@ichthyostega.de>
Vcs-Git: https://github.com/Ichthyostega/openfx-io-deb.git -b deb
Homepage: https://github.com/NatronGitHub/openfx-io
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 11~),
	pkg-config,
	libraw-dev,
	libopenimageio-dev (>= 2.0.5~),
	libopencolorio-dev,
	libopenexr-dev,
	libavcodec-dev,
	libavformat-dev,
	libswscale-dev,
	libpng-dev,
	libtiff5-dev,
	libopenjp2-7-dev,
	libboost-dev,
	libgl1-mesa-dev,
	libwebp-dev,
	libseexpr-dev

Package: openfx-io-natron
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Reader/Writer OpenFX plugin for Natron.
 This Reader/Writer node was written for Natron, but can also
 be used with other OpenFX hosts.
 * FFmpeg Reader/Writer
 * OpenImageIO
 * OpenColorIO
 * OpenEXR
 * libPNG
 * SeExpr expression language (https://github.com/wdas/SeExpr)

