#!/usr/bin/make -f


%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- CONFIG+=release V=1 \
	EXPAT_INCLUDE=/usr/include
	# (V=1 is verbose, see openfx/Support/Plugins/Makefile.master)

override_dh_auto_install:
	$(MAKE) install CONFIG+=release \
	DESTDIR=$(CURDIR)/debian/openfx-io-natron

override_dh_auto_clean:
	$(MAKE) clean CONFIG+=release \
	DESTDIR=$(CURDIR)/debian/openfx-io-natron

